<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article>
                <div>
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j"
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
                </a>
            </article>
        </main>
    </body>
</html>
